<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Chat</title>
  <link rel="stylesheet" href="/create.css">
</head>
<body>
  <div class="container">
  <h1>Create new chat.....</h1>
  <br/><br/><br/>
  <form method="post" action="/chats">
    <input placeholder="who are you" name="from">
    <br/><br/>
    <textarea name="msg" placeholder="Write here...."></textarea>
    <br/><br/>
    <input placeholder="add receiver" name="to">
  <br/><br/>
    <br/><br/>
    <button>Create Chat</button>
  </form>
  </div>
</body>
</html>